<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="feedback.mpnsc">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--
     <permission android:name="com.example.ismail.location_test.permission.MAPS_RECEIVE"
         android:protectionLevel="signature"/>

     <uses-permission android:name="com.example.ismail.location_test.permission.MAPS_RECEIVE"/>
    -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/nsc"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchTicket_Feasibility"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity android:name=".SearchTicket_FeasibilityTest"></activity>
        <activity android:name=".NewTicketNumber"></activity>
        <activity
            android:name=".Options"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity android:name=".TabBar" />
        <activity android:name=".Tab1" />
        <activity android:name=".Tab2" />
        <activity android:name=".Tab3" />
        <activity android:name=".CurrentDetail" />
        <activity android:name=".BillingDetail" />
        <activity android:name=".MeterImage" />
        <activity android:name=".NoDuesImage" />
        <activity android:name=".MeterInstImage" />
        <activity android:name=".TicketList" />
        <activity
            android:name=".SearchTicket"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name=".MeterDetail" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".Feasibility"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name=".Feasibility_photo" />
        <activity android:name=".Feasibility_photo1" />
        <activity android:name=".ConsumerImage" />
        <activity android:name=".AadharImage" />
        <activity android:name=".AddressImage" />
        <activity android:name=".LandImage" />
        <activity
            android:name=".exisitingconsumer.ExistingConsumer_Search"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name=".exisitingconsumer.Existing_tab1" />
        <activity
            android:name=".exisitingconsumer.Existing_CurrentDetailtest"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity android:name=".exisitingconsumer.Existing_DataFinish" />
        <activity android:name=".exisitingconsumer.Exisiting_BillingDetail" />
        <activity android:name=".exisitingconsumer.Exisiting_tab3" />
        <activity android:name=".exisitingconsumer.Existing_CaptureImage" />
        <activity
            android:name=".SiteInspection_Activity2"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".MapsActivity" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/api_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".LoadExpenseActivity"></activity>
    </application>

</manifest>